*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  content-visibility: 100%;
  contain-intrinsic-size: 1px 1000px;
}

html,
body {
  font-family: 'Merienda',sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.h2 {
  color: #FFF;
  text-align: center;
  /* font-family: 'montserrat', sans-serif; */
  font-size: 32px;
  font-weight: 600;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.9);

}

.app {
  background-image: url(./assets/cold-bg2.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;

  margin: 0;
  padding: 0;

  /* background-size: none; */
}

.app.warm {
  background-image: url('./assets/bg.jpg');
}

.app.snow {
  background-image: url('./assets/cold-bg.jpg');

  color: black;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 10px 25px;
}

.search-box {
  /* width: 100%;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  gap: 2rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 0 0 10%;

}

.search-box .search-bar {
  /* display: block; */
  width: 80%;
  padding: 10px 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7px);
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 5px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7px);
}

.search-box .search-bar::placeholder {
  color: #111;
}

.search-box .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 10px 5px 20px 5px;

  font-family: 'Merianda';
}

.search-box .button-container .search-button {
  appearance: none;
  border: none;
  /* outline: none; */

  margin-top: 12px;

  background-color: #3e64bb;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 28px;
  transition: background-color 0.3s ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search-box .button-container .search-button:hover {
  background-color: #345298;
}

.search-box .button-container .search-button:active {
  background-color: #3e64bb;
}

.search-box .button-container .search-button:focus {
  outline: none;
}

.search-box .button-container .clear-button {
  appearance: none;
  border: none;
  /* outline: none; */

  margin-top: 12px;

  background-color: #3e64bb;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 28px;
  transition: background-color 0.3s ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search-box .button-container .clear-button:hover {
  background-color: #345298;
}

.search-box .button-container .clear-button:active {
  background-color: #3e64bb;
}

.search-box .button-container .clear-button:focus {
  outline: none;
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

  margin-bottom: 10px;
}

.location-box .date {
  color: #FFF;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  display: inline-block;
  position: relative;
  margin: 18px auto;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  border-radius: 16px;

  padding: 13px 22px;

  color: #FFF;
  font-size: 80px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 38px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

  margin-bottom: 0;
}

.weather-box .feels-like {
  color: #FFF;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

  margin-bottom: 0;
}

.weather-box .wind-speed {
  color: #FFF;
  font-size: 23px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

  margin:5px 0;
}

.app main h3 {
  text-align: center;
  color: #fff;
  font-weight: normal;
  margin: 10px 0;
}

.footer {
  margin-top: -120px;

  color: #FFF;

  /* display: flex;
  justify-content: center; */

  text-align: center;
}

#icon {
  cursor: pointer;

  color: #FFF;

  margin-top: 20px;
  text-align: center;

  transition: 0.2s ease-in-out;
}

#icon:hover {
  transform: translateY(-5px);
}

#icon:active {
  transform: translateY(5px);
}

.error-box {
  display: flex;
  justify-content: center;

  color: #FFF;

  font-size: 1.3rem;

  margin-bottom: 10px;
}

@media (max-width:760px) {
  .h2 {
    font-size: 23px;
  }

  .search-box {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
  }

  .search-box .search-bar {
    font-size: medium;
  }

  .location-box .location {
    margin-top: 0;
    font-size: 25px;
  }

  .location-box .date {
    font-size: 22px;
  }

  .weather-box .weather {
    font-size: 30px;
  }

  .weather-box .temp {
    font-size: 60px;
  }

  .footer {
    margin-top: -170px;
  }

}